<%= render partial: "partials/header" %>
<%#= render 'shared/error_messages', object %>

<div class="d-flex align-items-center justify-content-center" style="padding-top: 100px">
    <h1>Welcome to Scheduled Tweets</h1>
</div>


