<%= render partial: "partials/header" %>


    <%# <div class="coll col-05"></div> %>
    <%# <div class="coll col-90 banner"> %>
        <%#= image_tag 'BannerDC.png', class: "img-fluid banner" %>
    <%# <div class="coll">
    </div> %>
    <%# <div class="coll col-05"></div> %>
<%# <div class="container-cus d-flex">
</div> %>

<div class="container__cus"></div>

<div class="site-section site-section-sm site-blocks-1 site__helper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start helper__icon">
                <i class="fa-solid fa-truck"></i>
            </div>
            <div class="text">
                <h2 class="text-uppercase helper__text-title">Free Shipping</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start helper__icon">
                <i class="fa-solid fa-arrow-rotate-right"></i>
            </div>
            <div class="text">
                <h2 class="text-uppercase helper__text-title">Free Returns</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start helper__icon">
                <i class="fa-solid fa-circle-question"></i>
            </div>
            <div class="text">
                <h2 class="text-uppercase helper__text-title">Customer Support</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="site__colection">
    <%= image_tag 'collection-01.png', class: "img-fluid" %>
</div>

<%= render partial: "partials/footer" %>