<%= render partial: "partials/header" %>

<div class="container-cus d-flex">
    <div class="coll col-05"></div>
    <div class="coll col-90 banner">
        <%= image_tag 'banner.png', class: "img-fluid" %>
    </div>
    <div class="coll col-05"></div>
</div>

<%= render partial: "partials/footer" %>