<%= render partial: "partials/header" %>
<%= form_with(model: @user, local: true) do |f| %>
<div id="" class="setting">
    <div class="col_ col_20 bg-night setting__menu">
        <div class="setting__title">
            Cài đặt
        </div>
        <ul class="setting__container">
            <li>
                <%= link_to '<i class="fa-solid fa-circle-user setting__icon"></i> Lý Thanh Hùng'.html_safe, edit_user_path(current_user), class: "dropdown-item" %>
            </li>
            <li><a href="#">
                <i class="fa-solid fa-user-lock setting__icon"></i>
                Thiết lập tài khoản
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-shield setting__icon"></i>
                Bảo mật
            </a></li>
        </ul>
    </div>
    <div class="col_ col_80 bg-black setting__content">
        
    </div>
</div>
 <% end %>