<footer class="footer bg-night">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a href="/" class="footer-brand">Polka Dots</a>
      </div>
      <div class="col-8">
        <div class="footbar">
          <ul class="d-flex footbar-foot">
            <li class="foot-item"><a href="#" class="foot-link">Home</a></li>
            <li class="foot-item"><a href="#" class="foot-link">About</a></li>
            <li class="foot-item"><a href="#" class="foot-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row footer__information">
      <div class="col">
        <div class="footer__title">Contact</div>
        <div class="footer__offline">
          <ul class="footer__off-ul">
            <li class="d-flex">
              <div class="footer__icon">
                <i class="fa-solid fa-house-chimney fa-icon"></i> 
              </div>
              <div class="footer__text">
                Kí túc xá Khu A - Đại Học Quốc Gia TP.HCM, Khu phố 6, phường Linh Trung, thành phố Thủ Đức.
              </div>
            </li>
            <li class="d-flex">
              <div class="footer__icon">
                <i class="fa-solid fa-square-phone fa-icon"></i>
              </div>
              <div class="footer__text">
                0923.115.xxx
              </div>
            </li>
            <li class="d-flex">
              <div class="footer__icon">
                <i class="fa-solid fa-envelope fa-icon"></i>
              </div>
              <div class="footer__text">
                polkadots@gmail.com
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__online">
          <ul class="footer__off-ul">
            <li class="d-flex">
              <div class="footer__icon">
                <i class="fa-brands fa-facebook fa-icon"></i>
              </div>
              <div class="footer__text">
                <a href="https://www.facebook.com/thanhhung.ly.100/">facebook.com/thanhhung.ly.100</a>
              </div>
            </li>
            <li class="d-flex">
              <div class="footer__icon">
                <i class="fa-brands fa-instagram fa-icon"></i>
              </div>
              <div class="footer__text">
                <a href="https://www.instagram.com/thanhhung.ly/">instagram.com/thanhhung.ly</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <div class="footer__title">Support</div>
        <ul class="footer__off-ul">
          <li class="d-flex">
            <div class="footer__icon">
              <i class="fa-solid fa-circle-question fa-icon"></i>
            </div>
            <div class="footer__text">
              <a href="#">Hướng dẫn đặt hàng</a>
            </div>
          </li>
          <li class="d-flex">
            <div class="footer__icon">
              <i class="fa-solid fa-hand-holding-hand fa-icon"></i>
            </div>
            <div class="footer__text">
              <a href="#">Chính sách đổi trả</a>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</footer>