<footer class="footer">
    <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav class="navbar navbar-expand-lg bg-light footer-nav">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://news.railstutorial.org/">About</a>
                        <%#= link_to "About", about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://news.railstutorial.org/">Contact</a>
                        <%#= link_to "Contact", contact_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://news.railstutorial.org/">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>