// @import "bootstrap-sprockets";
// @import "bootstrap";

// Color
:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --blue-black: #161d27;
    --white: #f3f3f4;
    --yellow: #ffc174;

    // Default layout
    --default-layout-header-height: 160px;
    --default-layout-width: 140rem;
    --default-layout-horizontal-spacer: 24px;
}

/* universal */
body {
    // padding-top: 60px;
}

.btn {
    a {
        text-decoration: none !important;
        color: var(--white);
    }
    &:hover {
        a {
            color: var(--black);
        }
    }
}

.btn-submit {
    a {
        color: var(--black) !important;
    }
    &:hover {
        a {
            color: var(--white) !important;
        }
    }
}


.btn-outline-danger {
    &:hover {
        a {
            color: var(--white);
        }
    }
}