.nav-button {
    li {
        padding-left: 10px;
    }
}

.footer {
    display: flex;
    border-top: 1px solid #ccc ;
    align-items: center;
    justify-content:space-between;
    small a {
        text-decoration: none;
    }
}

.footer-nav {
    background-color: transparent !important;
    padding: 0px !important;
}

// Header
.navbar {
    --bs-navbar-padding-y: 0.1rem;
    border-bottom: 1px solid var(--night-light);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--primary);
    padding: 0 !important;

    span {
        color: var(--white) !important;
    }

    &:hover {
        color: var(--white) !important;

        span {
            color: var(--primary) !important;
        }
    }
}

.container-fluid {
    --bs-gutter-x: 3.5rem;
}

@media (min-width: 1024px) {
    .nav-li {
        > a {
            padding: 0.7rem 3rem !important;
            margin: 0.1rem 0.2rem;
            font-size: 1.2rem;
            color: var(--white) !important;
        }
    
        > a:hover {
            background-color: rgba($color: #ccc, $alpha: 0.2);
            border-radius: 10px;
        }
    
        .active {
            border-bottom: solid 2px var(--primary);
            color: var(--primary) !important;
        }
    
        .active:hover {
            background-color: transparent;
            border-radius: 0;
        }
    
    }
    .nav-user {
        > a {
            color: var(--white) !important;
            font-size: 1.2rem;
            padding: 0.7rem 0 !important;
            margin: 0.1rem 0.2rem;
        }
        
        li {
            padding: 0 !important;
        }
    }

    .nav-avatar {
        padding: 0.7rem 0 !important;
        margin: 0.1rem 0.2rem;
    }
}

.drop-menu-right {
    right: 0 !important;
    left: unset !important;
    top: 80% !important
}

.nav-avatar {
    padding: 4px !important;
}

.dropdown-toggle::after {
    display: none !important;
}

// .dropdown-menu[data-bs-popper] {
//     top: 80% !important;
//     // left: 2.7rem !important;
// }


@media (max-width: 1023px) {
    .nav-user {
        padding: 0 !important;
    }

    .nav-button {
        padding: 0 !important;
    }


    .nav-item {
        text-align: left !important;
    }
}

// Sub-menu

.shop {
    position: unset;
}

.dropdown-shop {
    position: absolute;
    top: 97% !important;
    left: 0;
    width: 100%;
    border-radius: 0 !important;
    margin: 0 !important;
    background-color: var(--blue-black);
    color: var(--white);

    a {
        text-decoration: none;
        color: var(--white);
    }

    li {
        list-style: none;
        padding-bottom: 10px;
    }
}

.menu-title {
    color: var(--primary);
    font-weight: 500;
    padding: 10px 0;
}

@media(min-width: 1024px) {
    .drop-down-1 {
        padding: 0 !important;
        
        hr {
            border-top: 1px solid var(--white);
        }

    }

    .row-menu {
        padding: 0 30px;
    }
}
