.coll {
    float: flex;
}

.col-05 {
    width: 5%;
}

.col-90 {
    width: 90%;
}

.banner {
    // margin-top: 30px;
    // text-align: center;
    // width: 100%;
    background-attachment: fixed;
    // // height: 90vh;

    // img {
    //     width: 100%;
    // }
}

.container__cus {
    background: url(BannerDC.png);
    background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    height: 110vh;
    width: 100%;
}

// Helper
.site__helper {
    padding: 60px 0;
}

.helper__icon {
    font-size: 2.2rem;
    color: var(--primary);
    padding: 0 1rem;
}

.helper__text-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.text {
    p {
        text-align: justify;
    }
}

// Collection
.site__colection {
    // padding: 0 40px;
}

// Products
.site__products {
    padding: 40px;
    width: 100%;
}

.products__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 25px;
    
    p {
        margin: auto;
        position: relative;
        display: inline-block;
    }

    p::after {
        content: '';
        width: 50px;
        height: 35px;
        background: linear-gradient(var(--primary),#fff);
        position: absolute;
        top: -5px;
        left: 0px;
        z-index: -1;
        transform: rotate(0deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}

.products__column {
    padding: 0 20px;
}

.products__image {
    position: relative;

    .image {
        display: block;
    }
}

.products__infor {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.products__name {
    padding: 10px 0 5px;
    font-weight: bold;
}

.products__price {
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: #008CBA;
}

.products__image:hover .overlay {
    opacity: 1;
}








// Responsive
@media (min-width: 1024px) {
}

@media (max-width: 1023px) {
    .site__helper {
        padding: 40px 0;
    }
}

