// Sign up
.container-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000000; 
    background-image: linear-gradient(315deg, #000000 0%, #2C3E50 74%);

}

.inner-sign-up {
    background-color: var(--white);
    width: 700px;
    height: 75vh;
    padding: 20px 50px;
    border-radius: 20px;
}

.title {
    text-align: center;
    padding: 25px;
}
